img.circle {
    -webkit-mask-image: radial-gradient(circle at center, black 0%, transparent 50%);
    mask-image: radial-gradient(circle at center, black 0%, transparent 50%);
}

.circle {
    max-width: min(600px, 50vw) !important;
    height: auto;

    @media (max-width: 900px) {
        max-width: min(400px, 60vw) !important;
    }

    @media (max-width: 684px) {
        max-width: min(300px, 70vw) !important;
    }
}

.subtitle-large {
    font-size: clamp(.5rem, 3.5vw, 1.5em) !important;
    margin-bottom: 0.2em;
    white-space: pre-line;
}

.subtitle-small {
    font-size: clamp(.3rem, 2.5vw, 1.1em) !important;
    margin-top: 0;
    white-space: pre-line;
}

main h1 {
    font-size: clamp(2rem, 6vw, 3rem);
    margin: 0.4em 0;
    line-height: 1.2;
}